* {   
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header {
    padding: 10px 16px;
    width: 100%;
    text-align: center;
    background: #9D3FF3;
    color: white;
    font-size: 12px;
  }

  .header img {
    float: left;
    position: relative;
    bottom: 15px;
    width: 100px;
    height: 100px;
  }

  .header-section{
    background-color: #ffffff;
    text-align: center;
    padding: 43px 16px;
    margin-bottom: 50px;
  }

  .container {
    max-width: 1400px;
    padding: 0 40px;
    margin: auto;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    background-repeat: no-repeat;
    background-color: #F3F3F3;
}

h1 {
    font-size: 48px;
    line-height: 72px;
    }

h3 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
    
}

.container {
    max-width: 1920px;
    padding: 0 60px;
    margin: auto;
}

button {
    padding: 5px 5px;
    background: #ffffff;
    color: #000000;
    border: 1px;
    border-style: none;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
}

button:hover {
    background: #9D3FF3;
    color: white;
}

input[type=button] {
    padding: 5px 5px;
    background: #ffffff;
    color: #000000;
    border: 0px;
    border-style: none;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
}

input[type=button]:hover {
    background: #9D3FF3;
    color: white;
}

input[type=text]{
    background: #ffffff;
    color: #000000;
}

table, th, td {
    text-align: center;
    table-layout: fixed;
    border-collapse: collapse;
    border: 2px solid #000000;
    background-color: #ffffff;
  }

  footer{
      background-color: #000000;
      color: white;
      padding: 30px;
  }